@import url('https://fonts.cdnfonts.com/css/ds-digital');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 61, 61);
}

.App .calculate {
    width: 20%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
}

.App .calculate .secondDisplay {
    width: 100%;
    height: 10%;
    background-color: beige;
}

.App .calculate .secondDisplay > input {
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 20px;
    color: rgb(198, 233, 0);
    padding: 0 10px;
    text-align: left;
    font-family: 'DS-Digital', sans-serif;
}

.App .calculate .masterDisplay {
    width: 100%;
    height: 15%;
    background-color: black;
}

.App .calculate .masterDisplay>input {
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 45px;
    color: white;
    padding: 0 10px;
    text-align: right;
    font-family: 'DS-Digital', sans-serif;
}


.App .calculate .button {
    width: 100%;
    height: 75%;
    background-color: rgb(82, 82, 82);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.App .calculate .button>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1px;
}

.App .calculate .button>div>button {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 1px;
    font-size: 20px;
    background-color: rgba(241, 245, 241, 0.603);
    font-weight: bold;
}

.App .calculate .button>div #functBtn {
    background-color: orange;
}